div {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  text-align: center;

}
td div{
  border: none;
}
table{
    border-collapse: collapse;
}
th, td {
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
    padding: 5px;
    vertical-align: top;
}
img {
  width: 100%;
}
th{
  color: #7d7b7b;
}
